html{
    background: rgb(130, 130, 223);
}

body{
    
    color: rgb(34, 34, 34);
    margin-top: 150px;
}

img{
    width: 100%
}

.card{
    background-color: white;
    border-radius: 15px;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    box-shadow:rgba(1, 1, 1, .3) 0px 15px 5px;
}

.sounds li{
    width: 200px;
    display: inline-block;
    padding: 20px 10px;
}

.sounds li button img:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.15s;
}